.flex-container {
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    align-items: start;
    justify-content: space-around;
    justify-items: stretch;
}

.flex-img{
    grid-column: 1/2;
    grid-row: 1/7; 
}

.flex-name{
    font-size: 16px;
    grid-column: 3/7;
    grid-row: 1/2;
    height: 50px;
    /* justify-self: center; */
    align-self: center;
}

.flex-price{
    grid-column: 3/7;
    grid-row: 2/3;
    background-color: rgb(255, 226, 226);
    color: red;
    font-size: 14px;
    height: auto;
        
}
.flex-quality{
    grid-column: 3/7;
    grid-row: 3/4;
    height: 50px;
    align-self: center;
    /* justify-self: center; */
}

#cart{
    grid-column: 3/4;
    grid-row: 4/5;
}
#buy{
    grid-column: 6/7;
    grid-row: 4/5;
}

.description{
    background-color: rgb(252, 255, 209);
    width: 100%;
}

.description h2 {
    /* margin-top: 20px; */
    margin-left: 10px;
    background-color: rgb(252, 255, 209);

}

.flex-description{
    margin-top: 20px;
    margin-left: 10px;
}

.flex-container button{
    width: 150px;
    height: 30px;
}

