*{
    font-family: "Harmonia Sans", sans-serif;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    transition: 0.6s ease;
    
}


/* upper bar */
.upper-bar{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: rgb(205, 255, 113);
}

.login{
    background-color: rgb(252, 255, 209);
    /* left: 50%;
    transform: translateX(50%); */
}

form {
    align-self: center;
    align-items: center;
    justify-content: center;
}

/* label{
    color: aliceblue;
}

input{
    background-color: aliceblue;
}

a{
    color: aliceblue;
} */

/* contact */
.contact{
    background-color: rgb(252, 255, 209);
    border-top: 1px solid black ;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
table{
    width: 100%;
    margin-left: 20px;
}
tr{
    gap: 20px;
    text-align: left;
}

a:hover{
    font-weight: 600;
}