/* generic */
*{
    font-family: "Harmonia Sans", sans-serif;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    transition: 0.6s ease;
}

button:hover{
    background-color: antiquewhite;
    cursor: pointer;
    
}
/* 
.container {
} */

/* upper bar */
.upper-bar{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    justify-content: center;
    height: 160px;
    background-color: rgb(205, 255, 113);

}
#signin-signup a {
    text-decoration: none;
    color: rgb(2, 75, 140);
}

#search-bar input{
    align-items: center;
    width: 300px;
    height: 30px;
}
#search-bar button{
    outline: none;
    margin-left: 0;
    height: 30px;

}

#signin-signup{
    height: 30px;
    width: 50px;
    margin-right: 10px;
    float: right;
}
#user{
    height: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.user-login{
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 1;
    position: relative;
    flex-direction: column;
    display: flex;
}
#signin-signup:hover .user-login{
    visibility: visible;
    opacity: 1;
    
}
/* #signin-signup img{
    cursor: pointer;
} */
#shopping-cart{
    margin-right: 15px;
}
#cart{
    height: 30px;
}
/* main */
.main{
    background-color: rgb(252, 255, 209);
}

/* image carousel */
.image-carousel{
    max-width: 100%;
    position: relative;
    margin: auto;
}
.slide{
    display: none;
    align-self: center;
    align-items: center;
}
.slide img{
    left: 50%;
    transform: translateX(50%);
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text{
    color: black;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 10px;
}
.active, .dot:hover{
    background-color: black;
}


/* category */
.category{
    display: grid;
    grid-template-columns: repeat(6, 100px);
    gap: 10px;
    /* align-items: center; */
    justify-content: center;
    /* height: 300px; */
    margin-top: 10px;
}

.category button{
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    height: 40px;
    outline: none;
}

.all-categories {
    background-color: white;
    padding: 10px;
    outline: 1px solid black;
}
.all-categories:hover{
    background-color: rgb(255, 140, 219);
}
/* .all-categories:active{
    background-color: rgb(255, 140, 219);
} */
.category-items{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;

}

.each-item{
    /* flex: 1 1 calc(20%); */
    /* flex: 1 1 calc(25%); */

    padding: 10px;
    border: 2px solid red;
    margin-top: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: aquamarine;
    height: 300px;
    width: 200px;
}

.each-item:hover{
    background-color: aliceblue;
    cursor: pointer;
}
.each-item img{
    height: 200px;
}

/* contact table */
.contact{
    background-color: rgb(252, 255, 209);
    border-top: 1px solid black ;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
table{
    width: 100%;
    margin-left: 20px;
}
tr{
    gap: 20px;
    text-align: left;
}

a:hover{
    font-weight: 600;
}

/* aria-current */
[aria-current='true']{
    background-color: rgb(91, 140, 155);
}
[aria-current='true'] p {
    color: bisque;
}